.tree-select-width {
  width: 218px;
}

.info-area {
  .overflow-col {
    height: 368px;
    padding: '0 15px';
    width: '100%';
    overflow-y: scroll;
  }

  .list-col {
    .title {
      color: #1677ff;
    }
  }
}
